template(name="addproduct")
	.page-header
		h1: small Add a Product
	.well.span4
		form#inputs
			.input-prepend
				span.add-on Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				input.input-xlarge#cat(type="text", 
					placeholder="Category Name", required)
			.input-prepend
				span.add-on SubCategory
				input.input-xlarge#subcat(type="text", 
					placeholder="Sub-Category Name", required)
			.input-prepend
				span.add-on Thumbnail&nbsp;&nbsp;&nbsp;&nbsp;
				input.input-xlarge#thumbnail(type="url", 
					placeholder="Paste the Image URL Here", required)
			.input-prepend
				span.add-on Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				input.input-xlarge#name(type="text", 
					placeholder="Name of the Product", required)
			.input-prepend
				span.add-on Description&nbsp;&nbsp;
				input.input-xlarge#desc(type="text", 
					placeholder="A Short Description", required)
			.input-prepend
				span.add-on Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				input.input-xlarge#price(type="number", 
					placeholder="Price of the Product", 
					min="0.00", step="0.01", required)
			center: input.btn#add(type="submit", value="Add It!")